[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "periscope2"]
	path = periscope2
	url = https://github.com/aggregate-genius/periscope2
